.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1em;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

