.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1em;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

.admin-wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}

.survey-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 1em;
}

.admin-content{
  padding: 0 2em;
}

.pointer{
  cursor: pointer;
}